body {
    /* 设置通用的字体大小样式和行间距 */
    width: calc(100% - 8px);
    height: 100%;
    font-size: 17px;
    font-family: -apple-system;
    line-height: 1.7;
    /* 防止横屏使用膨胀方法缩放部分字体 */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

/* 设置标题样式 */
#title {
    line-height: 1;
    font-size: 34px;
    font-weight: bold;
    margin: 5px 24px 0px 16px;
}


#essayInfo {
    background-color: rgb(227, 227, 232);
    color: rgb(0, 0, 0);
    width: calc(100% - 40px);
    margin: 16px;
    border-radius: 13px;
    float: left;
    position: relative;
}
#essayType {
    background-color: rgb(88, 86, 214);
    border-radius: 7px;
    color: rgb(255, 255, 255);
    float: left;
    font-size: 13px;
    position: relative;
    right: 17px;
    padding: 3px;
}
#essayAuthor {
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    top: 11px;
    left: 50px;
}
#essayData {
    font-size: 17px;
    position: absolute;
    top: 11px;
    right: 15px;
}

#infoAuthorBox {
    position: relative;
}
#infoType {
    background-color: rgb(88, 86, 214);
    border-radius: 7px;
    color: rgb(255, 255, 255);
    float: left;
    font-size: 13px;
    position: relative;
    left: 2px;
    padding: 0px 3px;
}
#infoAuthor {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    position: relative;
    padding: 0px;
    top: 6px;
    left: 0px;
}

#infoDataBox {
    background-color: rgb(227, 227, 232);
    color: rgb(0, 0, 0);
    width: calc(100% - 40px);
    margin: 16px;
    border-radius: 13px;
    position: relative;
}

h1 {
    font-size: 30px;
    margin: 24px 24px 10px 16px;
}
h2 {
    font-size: 27px;
    margin: 20px 24px 10px 16px;
}
h3 {
    font-size: 25px;
    margin: 18px 24px 10px 16px;
}
h4 {
    font-size: 22px;
    margin: 16px 24px 10px 16px;
}
h5 {
    font-size: 20px;
    margin: 14px 24px 10px 16px;
}
h6 {
    font-size: 18px;
    color: rgb(128, 128, 128);
    margin: 12px 24px 10px 16px;
}

/* 设置段落样式 */
p {
    text-align: justify;
    margin: 10px 24px 10px 16px;
}
strong {
    font-weight: bold;
}
em {
    /* 设置倾斜样式 */
}

blockquote {
    font-size: 16px;
    margin: 10px 24px 10px 16px;
    padding: 5px 0px;
    border-left: 7px solid rgb(210, 210, 209);
    background-color: rgb(234, 234, 232);
}

li {
    margin: 10px 16px 10px 0px;
}

hr {
    margin: 10px 24px 10px 16px;
}

code {
    font-family: Menlo;
    border-radius: 7px;
}
pre {
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    overflow-x: auto;
    white-space: pre;
    border-radius: 5px;
    margin: 10px 24px 10px 16px;
    padding: 10px 12px;
}
code:not(pre > code) {
    font-size: 15px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    padding: 0px 5px;
    margin: 0px 5px;
}

a:not(#infoLink) {
    background-color: rgb(0, 121, 252);
    font-size: 13px;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    text-decoration: none;
    padding: 3px 6px;
    position: relative;
    bottom: 1px;
}

img {
    margin: 10px 24px 10px 16px;
    max-width: calc(100% - 40px);
    border-radius: 7px;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); /* 给表格添加阴影效果 */
}

.tableBox {
    overflow-x: auto;
    width: calc(100% - 40px);
    margin: 16px; /* 设置表格的上下外边距为25px */
    border-radius: 7px;
}

table { /* 选择所有的表格元素 */
    border-collapse: collapse; /* 合并表格边框 */
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); /* 给表格添加阴影效果 */
}

table thead tr { /* 选择表头中的所有行 */
    background-color: #2F302D;
    color: #ffffff; /* 设置字体颜色为白色 */
}

table th,
table td { /* 选择所有的表头单元格和表格单元格 */
    padding: 5px;
    white-space: nowrap;
}

table tbody tr { /* 选择表格主体中的所有行 */
    border-bottom: 1px solid #dddddd; /* 给每一行添加底部边框，颜色为浅灰色 */
}

table td {
    border-right: 1px solid #dddddd; /* 给每个单元格添加右边框 */
}
table th {
    border-right: 1px solid #FFFFFF; /* 给每个单元格添加右边框 */
}
table td:last-child {
    border-right: none; /* 移除最后一列单元格的右边框 */
}
table th:last-child {
    border-right: none; /* 移除最后一列单元格的右边框 */
}

table tbody tr:nth-of-type(even) { /* 选择表格主体中的偶数行 */
    background-color: #f3f3f3; /* 设置背景颜色为浅灰色 */
}

table tbody tr:last-of-type { /* 选择表格主体中的最后一行 */
    border-bottom: 2px solid #2F302D; /* 给最后一行添加底部边框，颜色为深绿色，宽度为2px */
}

/*th code,*/
/*td code {*/
/*    /* 在这里添加你想要应用于表格中的代码元素的样式 */*/
/*    font-family: Menlo;*/
/*    font-size: 15px;*/
/*    border: 1px solid #ccc;*/
/*    background-color: #f8f8f8;*/
/*    padding: 0px 5px;*/
/*    margin: 0px 5px;*/
/*    border-radius: 3px;*/
/*}*/
/**/
/*th a,*/
/*td a {*/
/*    /* 在这里添加你想要应用于表格中的链接元素的样式 */*/
/*    background-color: #D2D2D1;*/
/*    font-size: 13px;*/
/*    color: #000000;*/
/*    border-radius: 7px;*/
/*    text-decoration: none;*/
/*    padding: 3px 6px;*/
/*}*/
